body {
    background: #f1f1f1;
    /*font-family: "Courier New", Courier, monospace;*/
    font-family: helvetica, san-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

span.active, a.active {
    text-decoration: underline;
}

header {
    margin: 0 10%;
    padding: 10px 0;
    text-align: left;
}

header p:first-child {
    padding: 10px 0 0;
    text-align: center;
}

.casing {
    width: 375px;
    height: 350px;
    border: 6px solid #343C3A;
    border-bottom: 12px solid #343C3A;
    background-color: #A0998D;
    padding: 15px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.casing p {
    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 10px;
    font-weight: bold;
    color: #262E2B;
    position: absolute;
    top: 356px;
    left: 20px;
}

.numdisplay {
    width: 370px;
    height: 75px;
    position: relative;
    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 18px;
    background-color: #560217;
    background: linear-gradient(#171310 40%, #560217, #c53551);
    color: #E6002A;
    border: 2px solid #7D5C4F;
    border-radius: 4px;
    margin-bottom: 10px;
}

#left-operand {
    float: left;
    text-align: center;
    line-height: 40px;
    width: 150px;
    height: 40px;
    margin: 5px 0px 0px 5px; 
}

#operation {
    float:left;
    text-align: center;
    line-height: 40px;
    width: 50px;
    height: 40px;
    margin: 5px 0px 0px 5px;
}

#right-operand {
    float: left;
    text-align: center;
    line-height: 40px;
    width: 150px;
    height: 40px;
    margin: 5px 0px 0px 5px;
}

#nameplate {
    width: 370px;
    height: 25px;
    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 12px;
    color: #8C8D73;
    background-color: #404f45;
    background: linear-gradient(#404f45, #111516 40%);
    border: 2px solid #7D5C4F;
    border-radius: 4px;
    position: absolute;
    float: left;
    top: 52px;
    left: -2px;
}

.casing span {
    position: absolute;
    top: 11px;
    left: 238px;
}

#allbtn {
    width: 370px;
    height: 255px;
    background-color: #CEC5B6;
    border: 2px solid #7D5C4F;
    border-radius: 4px;
}

.btnrow {
    text-align: center;
    vertical-align: center;
    font-size: 5px;
    padding: 5px;
}

button {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    border-bottom: 4px solid grey;
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    margin: 5px 5px 0px 5px;
}

button:focus {
    outline: none;
}

.btn-default {
    position: relative;
    background-color: #c8caa5;
    background: linear-gradient(#787963, #c8caa5);
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.btn-default:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
}

.btn-default:hover {
    background-color: #385259;
    background: linear-gradient(#385259, #88979B);
}

.btn-default:active {
    background-color: #545545;
    background: linear-gradient(#545545, #787963);
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}

.btn-primary {
    position: relative;
    background-color: #A7924D;
    background: linear-gradient(#A7924D, #E6BC69);
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.btn-primary:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
}

.btn-primary:hover {
    background-color: #B9A871;
    background: linear-gradient(#B9A871, #FFD175);
}

.btn-primary:active {
    background-color: #5b4916;
    background: linear-gradient(#5b4916, #B26B24);
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}

.btn-success {
    position: relative;
    background-color: #5e2d23;
    background: linear-gradient(#5e2d23, #FF6600);
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.btn-success:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
}

.btn-success:hover {
    background-color: #FEB650;
    background: linear-gradient(#FEB650, #FF6600);
}

.btn-success:active {
    background-color: #a03e23;
    background: linear-gradient(#a03e23, #FF6600);
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}

#clear {
    position: relative;
    background-color: red;
    background: linear-gradient(#9A0200, #B71604);
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

#clear:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
}

#clear:hover{
    background: linear-gradient(#A41B19, #EB1213);
}

#clear:active {
    background-color: #610400;
    background: linear-gradient(#610400, #8F0000);
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}