h1, h2, p {
    margin: 20px 0;
    text-align: center;
}

#table-holder {
    border: 1px solid orange;
    margin: 20px auto;
    overflow-x: auto;
    width: 400px;
    /*height: 340px;*/
}

table {
    margin: 0 auto;
    table-layout: fixed;
    width: 700px;
    /*height: 340px;*/
    /*overflow: auto;*/
}

tr:nth-child(2n) {
    background: #e6e6e6;
}

th, td {
    border: 1px solid #333333;
    font-size: .875rem;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    font-weight: bold;
}

th:first-child, td:first-child {
    width: 9%;
}

th:nth-child(2), td:nth-child(2) {
    width: 19%;
}

th:nth-child(3), td:nth-child(3) {
    width: 14%;
}

th:nth-child(4), td:nth-child(4) {
    width: 14%;
}

th:nth-child(5), td:nth-child(5) {
    width: 29%;
}

th:last-child, td:last-child {
    width: 15%;
}

td.center {
    text-align: center;
}

label, select, option {
    font-size: .875rem;
}

#table-holder + div {
    margin: 20px auto;
    text-align: center;
}

#statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid lightblue;
}

h2 > small {
    font-size: .75rem;
    font-weight: normal;
}

#statistics div {
    display: inline-block;
    border: 1px solid #333333;
    border-radius: 4px;
    margin: 0 10px;
    padding: 20px;
    height: 400px;
    width: 225px;
}

#office-list, #prod-list {
    list-style: none;
    height: 80%;
    width: 100%;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#office-list li, #prod-list li {
    display: inline-block;
    /*font-size: 14px;*/
    padding: 5px;
}

#prod-list li {
    text-transform: capitalize;
}

#office-list li:before, #prod-list li:before {
    content: "\2022";
    padding-right: 5px;
}