html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: inside;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* START specific CSS */

* {
    box-sizing: border-box;
}

body {
    background: #efefef;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.25;

    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /*justify-content: space-evenly;*/
}

h1, h2 {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
}

h3, dt {
    font-size: 1.125rem; /* 18px */
    /*font-weight: bold;*/
}

a, dd, figcaption, li, p, span {
    font-size: .875rem; /* 14px */
}

.loc-date {
    font-size: .8125rem; /* 13px */
}

footer p, footer a {
    font-size: .75rem; /* 12px */
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

span.active, a.active {
    text-decoration: underline;
}

header, section {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 30px 20px 0;
    height: 300px;
    width: 225px;
    position: relative;
    overflow: auto;
    text-align: center;
}

.wider {
    width: 800px;
}

section > h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #eaeaea;
    border-radius: 4px 4px 0 0;
    color: #333333;
    font-size: 1.125rem;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

section > h3 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #dadada;
    color: #333333;
    font-size: .75rem;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

#title > p {
    margin-top: 10px;
}

#table-holder {
    border: 2px solid orange;
    margin: 20px auto;
    overflow-x: auto;
    width: 100%;
}

table {
    margin: 0 auto;
    table-layout: fixed;
    text-align: left;
    width: 700px;
}

tr:nth-child(2n) {
    background: #e6e6e6;
}

th, td {
    border: 1px solid #333333;
    font-size: .875rem;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    font-weight: bold;
    text-align: center;
}

th:first-child, td:first-child {
    width: 9%;
}

th:nth-child(2), td:nth-child(2) {
    width: 19%;
}

th:nth-child(3), td:nth-child(3) {
    width: 14%;
}

th:nth-child(4), td:nth-child(4) {
    width: 14%;
}

th:nth-child(5), td:nth-child(5) {
    width: 29%;
}

th:last-child, td:last-child {
    width: 15%;
}

td.center {
    text-align: center;
}

label, select, option {
    font-size: .875rem;
}

#table-holder + div {
    margin: 20px auto;
    text-align: center;
}

#statistics > p {
    margin-top: 15px;
}

#office-list, #prod-list {
    list-style: none;
    margin-top:  30px;
    padding: 0 10px;
    overflow: auto;
    height: calc(100% - 30px);
    width: 100%;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#office-list li, #prod-list li {
    display: inline-block;
    padding: 5px;
}

#prod-list li {
    text-transform: capitalize;
}

#office-list li:before, #prod-list li:before {
    content: "\2022";
    padding-right: 5px;
}